{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('editeur_new') }}"><span class="btn btn-primary">Ajouter <i
                        class="fa fa-plus"></i></span></a>
    </div>
    </br>
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Pays</th>
            <th>Telephone</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td>{{ editeur.id }}</td>
                <td>{{ editeur.nom }}</td>
                <td>{{ editeur.adresse }}</td>
                <td>{{ editeur.pays }}</td>
                <td>{{ editeur.telephone }}</td>
                <td>
                    <a href="{{ path('editeur_show', {'id': editeur.id}) }}"><span class="btn btn-default"><i
                                    class="fa fa-eye"></i> </span></a>
                    <a href="{{ path('editeur_edit', {'id': editeur.id}) }}"><span class="btn btn-success"><i
                                    class="fa fa-pencil"></i> </span></a>
                    <form method="post" action="{{ path('editeur_delete', {'id': editeur.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editeur.id) }}">
                        <button class="btn"><span class="btn btn-danger"><i
                                        class="fa fa-trash-o"></i></span></button>

                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">pas d'enregistrements trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
