{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}

    <table class="table" border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ livre.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ livre.titre }}</td>
        </tr>
        <tr>
            <th>NombrePage</th>
            <td>{{ livre.nombrePage }}</td>
        </tr>
        <tr>
            <th>DateEdition</th>
            <td>{{ livre.dateEdition ? livre.dateEdition|date('d-m-y') : '' }}</td>
        </tr>
        <tr>
            <th>NombreExamplaires</th>
            <td>{{ livre.nombreExamplaires }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ livre.prix }}</td>
        </tr>
        <tr>
            <th>Isbn</th>
            <td>{{ livre.isbn }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="{{ vich_uploader_asset(livre,'imageFile') }}"></td>
        </tr>
        <tr>
            <th>Editeur</th>
            <td>{{ livre.editeur.nom }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ livre.categorie.designation }}</td>
        </tr>
        <tr>
            <th>Auteurs</th>
            <td>{% for auteur in livre.auteurs %}

                    <span class="badge badge-primary">
                        {{ auteur.nom }}
                        {{ auteur.prenom }}
                            </span>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row form-group">
        <div class="col col-lg-2">
            <a href="{{ path('livre_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i></span></a>
        </div>
        <div class="col col-lg-2">
            <a href="{{ path('livre_edit', {'id': livre.id}) }}"><span class="btn btn-success"><i
                            class="fa fa-pencil"></i>Editer</span></a>
        </div>
    </div>
{% endblock %}
