{% extends 'base.html.twig' %}
{% block body %}
    <tbody>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12 col-lg-9 col-md-8 col-sm-6">
                {{ auteur.prenom }}</br>
            </div>
            <div class="col col-xs-12 col-lg-9 col-md-8 col-sm-6">
                {{ auteur.nom }}<br>
            </div>
            <div class="col col-xs-12 col-lg-9 col-md-8 col-sm-6">
                {{ auteur.biographie }}<br>
            </div>
            <tr>
                <th>Livres</th>
                <td>{% for livre in auteur.livres %}
                        {{ livre.titre }}
                    {% endfor %}
                </td>
            </tr>
        </div>
    </div>
    <a href="{{ path('index_auteur') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i></span></a>

    </tbody>
{% endblock %}