{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset(' js/dataTables/dataTables.bootstrap.css') }}"/>
{% endblock %}
{% block body %}
    <div>
        <a href="{{ path('nouvel_auteur') }}"><span class="btn btn-primary">Ajouter <i class="fa fa-plus"></i></span></a>
    </div>
    <br>
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>biographie</th>
            <th>Action</th>
        </tr>
        <tbody>
        {% for c,auteur in auteurs %}
            <tr>
                <td>{{ c+1 }}</td>
                <td>{{ auteur.nom }}</td>
                <td> {{ auteur.prenom }}</td>
                <td>{{ auteur.biographie }}</td>
                <td><a href="{{ path('afficher_auteur',{'id':auteur.id}) }}"><span class="btn btn-default"><i
                                    class="fa fa-eye"></i> </span></a>
                    <a href="{{ path('edit_auteur',{'id':auteur.id}) }}"><span class="btn btn-success"><i
                                    class="fa fa-pencil"></i> </span></a>
                    <a href="{{ path('supprimer_auteur',{'id':auteur.id}) }}"><span class="btn btn-danger"><i
                                    class="fa fa-trash-o"></i></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
{% endblock %}