<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="active">
                <a href="{{ path('accueil') }}"><i class="fa fa-home"></i>Accueil</a>
            </li>
            <li class="active">
                <a href="{{ path('index_auteur') }}"><i class="fa fa-user"></i> Auteurs</a>
            </li>
            <li class="active">
                <a href="{{ path('categorie_index') }}"><i class="fa fa-desktop"></i> Catégorie</a>
            </li>
            <li class="active">
                <a href="{{ path('editeur_index') }}"><i class="fa fa-pencil"></i> Editeurs</a>
            </li>
            <li class="active">
                <a href="{{ path('livre_index') }}"><i class="fa fa-book"></i> Livres</a>
            </li>

        </ul>
    </div>

</nav>