{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie </h1>

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for c,categorie in categories %}
            <tr>
                <td>{{ c+1 }}</td>
                <td>{{ categorie.designation }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">Afficher</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">Editer</a>
                    <a href="{{ path('categorie_delete', {'id': categorie.id}) }}">Supprimer</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas d'enregistrements trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}">Nouvelle catégorie</a>
{% endblock %}
